<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Amazon Toys</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">¡Bienvenido a nuestro rincón de diversión en línea! Esperamos que disfrutes explorando nuestra colección y que encuentres juguetes que inspiren la creatividad, fomenten el juego imaginativo y creen recuerdos inolvidables.</p>
                <a class="btn btn-primary btn-xl" href="#about">¡Descubre más!</a>
            </div>
        </div>
    </div>
</header>
