<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">¡Tenemos todo lo que necesitas!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Explora nuestro extenso catálogo de juguetes que abarca desde clásicos atemporales hasta las últimas tendencias, todos disponibles en un solo lugar conveniente. Cada juguete que ofrecemos ha sido seleccionado pensando en la calidad, seguridad y valor educativo, para brindar a padres e hijos la confianza de que están eligiendo lo mejor.</p>
                <a class="btn btn-light btn-xl" href="#services">¡Empieza!</a>
            </div>
        </div>
    </div>
</section>