<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
    <!--<div>
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>   
    <div class="chartOptions2">
        <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>    
    </div>   -->
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
    </div>
</div>
</section>
