<!-- Call to action-->
<section class="page-section bg-dark text-white">
    
    <!--<div>
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>   
    <div class="chartOptions2">
        <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>    
    </div>   -->
    
    <div class="container px-4 px-lg-5 text-center">
        <h1>Nuestros juguetes más destacados</h1>
        <div>
            <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>    
        </div> 
        <h3>Gráfica con la cantidad de reseñas que tienen nuestros productos</h3>
    </div>
</section>
