<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">

        <!-- Tabla con datos 
        <table>
            <tbody>
                <tr *ngFor="let datum of data">
                    <th> {{  datum[ "manufacturer" ]  }}  </th>
                    <td> {{  datum[ "price" ]  }}  </td>
                    <td> {{  datum[ "sellers" ]  }} </td>
                </tr>
            </tbody>
        </table>
    -->
        
        <h2 class="text-center mt-0">Nuestros servicios</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Selección Cuidadosa</h3>
                    <p class="text-muted mb-0">Exploramos y elegimos minuciosamente juguetes de Amazon, asegurando calidad y seguridad para brindar momentos de juego llenos de diversión y aprendizaje.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Guía de Compra</h3>
                    <p class="text-muted mb-0">Encuentra el regalo perfecto con nuestra guía personalizada; selecciona juguetes según la edad y los intereses únicos de cada niño.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Envío Rápido</h3>
                    <p class="text-muted mb-0">Entregas rápidas a tu puerta para que la emoción de jugar comience sin demora.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Atención al Cliente</h3>
                    <p class="text-muted mb-0">Estamos aquí para responder tus preguntas y brindarte asistencia excepcional en cada paso de tu experiencia de compra.</p>
                </div>
            </div>
        </div>
    </div>
</section>
